body {
    background-color: #eeeeee !important;
    font-family: 'Roboto', sans-serif !important;
    color: #484848 !important;
}

.logo {
    height: 30px;
    vertical-align: sub;
}

.table {
    --bs-table-bg: transparent !important;
    --bs-table-color: #484848 !important;
}

thead {
    border-bottom: 2px solid #86adad !important;
    border-top: 2px solid #86adad !important;
}

h1 {
    font-family: 'Lora', serif;
}

h3 {
    font-family: 'Lora', serif;
}


#header, #footer {
    height: 5vh;
    width: 100vw;
    background-color: #b8d1d1;
}

#header {

}

#footer {
    position: fixed;
    bottom: 0;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 16px; 
    margin: auto;
}

.items-space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    text-decoration: none;
    color: inherit;
}

.btn-base {
    color: white !important;
    background-color: #86adad!important;
}


